PORT=5001
MONGO_URI= url from mongodb
CLOUDINARY_CLOUD_NAME=Cloud_name
CLOUDINARY_API_KEY=Api_key
CLOUDINARY_API_SECRET=Api_secret

JWT_SECRET=your_super_secret
JWT_EXPIRE=30d

RAZORPAY_KEY_ID=key_id
RAZORPAY_KEY_SECRET=key_secret

FIREBASE_PROJECT_ID=your_project_id
FIREBASE_CLIENT_EMAIL=your_client_email
FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nXXXX\n-----END PRIVATE KEY-----\n
