PORT=5001
MONGO_URI= url from mongodb
CLOUDINARY_CLOUD_NAME=Cloud_name
CLOUDINARY_API_KEY=Api_key
CLOUDINARY_API_SECRET=Api_secret

JWT_SECRET=your_super_secret
JWT_EXPIRE=30d

RAZORPAY_KEY_ID=key_id
RAZORPAY_KEY_SECRET=key_secret
